*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
    to bottom,
    #410073 0%,
    #240b37 32%,
    #2a0943 85%,
    #410073 100%
    );
}

.character-container {
    display: flex;
    align-items: center;
    gap: 60px; /* increased gap */
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.character-image img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px; /* move image more to the left if needed */
}

.character-box {
 /* or transparent, or glassmorphism */
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
    font-family: 'Itim', cursive;
    align-self: flex-start; /* ✅ prevent stretching to image height */
}

.character-box h3 {
    font-size: 64px;
    margin-bottom: 16px;
}

.character-box p {
    font-size: 24px;
    line-height: 1.6;
}

.character-container.reverse {
    flex-direction: row-reverse;
}